@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

body {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;

    background-color: #01002d;

    padding-bottom: 4em;
}

.header {
    background-color: rgb(0, 179, 255);
    color: white;

    font-size: 3em;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;

    text-align: center;

    padding: 1em;
}

#background {
    height: 25em;
    background-image: url(./firewatch.webp);
    background-size: 100%;
    background-position: center;
}

.about {
    width: 100%;
    text-align: left;
    color: white;
    background-color: #01002d;

    padding: 0;

    overflow: auto;
}

.container {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.about h1 {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    text-align: center;
    font-size: 13px;
    border-top: 3px solid rgb(126, 111, 255);
    background-color:#000030;
    padding: 0.5em;
    color:white;    
    margin-top: 2em;
}

a {
    color:rgb(126, 111, 255);
}

footer img {
    position: absolute;
    height: 10em;
    top: -10em;
    left: 10%;
}

/* https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-css */
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}